body{
    background-image: url("https://wallpapers.com/images/featured/black-wuuaobghtdllhliu.jpg");
}

.content {
    margin: 6vh 5vw;
    border-radius: 20px;
    background-color: rgba(26, 24, 24, 0.3);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

nav ul{
    display: flex;
    gap: 30px;
    justify-content: center;
    background-color: rgba(22, 21, 21, 0.6);
    padding:  20px 20px;
    border-radius: 10px;
    width: 50%;
    margin: auto;
    border-radius: 10px;
   
}
ul * {
    color: white;
    text-decoration: none;
    font-size: 17px;
    font-weight: 700;
}
.main{
   
    display: grid;
    grid-template-columns: auto;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 2vh 4vw;
    padding-bottom: 3vh;
    gap: 3vw;

}


.grid-item{
    padding: 1rem;
    outline: 2px solid white;
    border-radius: 10px;
    
}

input{
    padding: 10px;
    width: 100%;
}


li{
    list-style-type: none;
}
button{
    
    display: inline-block;
    outline: 0;
    border: 0;
    cursor: pointer;
    border-radius: 8px;
    padding: 14px 24px 16px;
    font-size: 18px;
    font-weight: 700;
    line-height: 1;
    transition: transform 200ms,background 200ms;
    background: transparent;
    color: #ffffff;
    box-shadow: 0 0 0 3px #ffffff inset;
    :hover{
        transform: translateY(-2px);
    }
    
}

.footer {
    margin-top: 50px;
    display: grid;
    grid-template-columns: auto auto;  
    align-items: center;
    justify-content: center;
    height: 8vh;
    background-color: #252525;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
}

.grid-item * {
    margin-bottom: 10px;
}

.facebook,.twitter,.github,.linkedin{
    height: 32px;
    width: 32px;
    margin: 0rem 10px;
}


.copyright-section  *{
 color: white;
 text-decoration: none;
}

a{
    text-decoration: none;
    color: white;
}
@media only screen and (max-width: 1089px) {
   
 


    h1{
        font-size: 40px;
        margin-bottom: 10px;
    }

    .footer{
        gap: 0px;
    }
  }
@media only screen and (max-width: 767px) {

    nav ul{
        width: 100%;
       
    }
  }
  